{% extends 'main/layout.html '%}

{% block content %}
    <div class="features">
        <h1>Форма для редактирования записи Автора</h1>
        <form method="post">
            {% csrf_token %}
            {{form.first_name}}<br>
            {{form.second_name}}<br>
            {{form.email}}<br>
            <span>{{error}}</span>
            <button class="btn btn-success" type="submit">Изменить</button>
        </form>
    </div>
{% endblock %}
{% block title %}Форма для редактирования записи Автор{% endblock %}